<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <include resource="parent-appender.xml" />

    <appender name="GENERIC-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/log/dev/vehicle-hire.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/log/dev/vehicle-hire.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>50MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>10GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} %m%n</pattern>
        </encoder>
    </appender>


    <appender name="GENERIC-FILE-ROLLING-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="GENERIC-FILE-ROLLING" />
    </appender>


    <logger name="com.babcock" level="trace" additivity="false">
        <appender-ref ref="GENERIC-FILE-ROLLING-ASYNC"/>
        <appender-ref ref="STDOUT-ASYNC"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="GENERIC-FILE-ROLLING-ASYNC"/>
        <appender-ref ref="STDOUT-ASYNC"/>
    </root>
</configuration>